﻿@model ResultsModel

<!DOCTYPE html>

<html>
<body>
    <div class="text-center container">
        <div class="row">
            <div class="col">
                <div class="mb-2">
                    <h3 class="float-left">From @ViewBag.fromShortcode --> @ViewBag.toShortcode</h3>
                </div>
            </div>
        </div>
        <div class="row pb-2 pl-3 pr-3">
            <div class="col-1 p-0 pt-1" style="">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
            <div class="col-7 p-0 text-left pt-1" style="">
                <label class="form-check-label" for="flexCheckDefault">
                    Telstar-only Routes
                </label>
            </div>
            <div class="col-2 p-0">
                <button type="button" class="btn btn-primary float-right">Price &#8681</button>
            </div>
            <div class="col-2 p-0">
                <button type="button" class="btn btn-primary float-left">Speed &#8681</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="border border-primary rounded border-bottom-0 pt-2" style="border-width: 3px !important">

                    <div type="button" class="btn btn-link" style="border-width: 3px !important">
                        <b>Operators</b>:
                        @*@foreach (var eachOperator in ViewBag.eachOption.Operators)
                        {
                            @eachOperator <p>,</p>

                        }*@
                        <br />
                        Price: £ @ViewBag.eachOption.Price
                        Time: @ViewBag.eachOption.Time
                    </div>
                    <hr class="border-primary" style="border-width: 3px !important" />

                    @*@foreach (var eachOption in ViewBag.AllOptions)
                        {
                            <div type="button" class="btn btn-link" style="border-width: 3px !important">
                                <b>Operators</b>:
                                @foreach (var eachOperator in eachOption.Operators)
                                {
                                    @eachOperator <p>,</p>

                                }
                                <br />
                                Price: £ @eachOption.Price
                                Time: @eachOption.Time
                            </div>
                            <hr class="border-primary" style="border-width: 3px !important" />
                        }*@
                </div>
            </div>
        </div>
    </div>
</body>
</html>