﻿@model SearchModel

<!DOCTYPE html>

<html>
<body>
    
    <div>
        <span>From: </span>
        @using (Html.BeginForm("Search", "Telstar", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div>
                @Html.DropDownListFor(m => m.Origin, new SelectList(ViewBag.Cities), "Please select", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Origin, null, new { @class = "text-danger" })
            </div>

            <div>
                <span>To: </span>
                @Html.DropDownListFor(m => m.Destination, new SelectList(ViewBag.Cities), "Please select", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Destination, null, new { @class = "text-danger" })
            </div>

            <p style="margin-top: 20px;">Options:</p>
            <div class="form-check form-check-inline">
                @Html.CheckBoxFor(m => m.Recommended, "no")
                <span style="padding-left:10px; ">Refrigerated (+10%)</span>
            </div>
            <div class="form-check form-check-inline">
                @Html.CheckBoxFor(m => m.Livestock, "no")
                <span style="padding-left:10px; ">Live stock (+75%)</span>
            </div>
            <div class="form-check form-check-inline">
                @Html.CheckBoxFor(m => m.Cautious, "no")
                <span style="padding-left:10px; ">Cautious goods (+50%)</span>
            </div>
            <p style="margin-top: 20px;">Delivery:</p>
            <div class="form-check form-check-inline">
                @Html.CheckBoxFor(model => model.Recommended, htmlAttributes: new { @checked = true })
                <span style="padding-left:10px; ">Recommended (+10%)</span>
            </div>
            <p style="margin-top: 20px;">Dimensions*: </p>
            <div class="form-row">
                <div class="col" required="true">
                    @Html.TextBoxFor(m => m.Weight, new { @class = "input-group", placeholder = "Weight (kg)*" })
                    @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text-danger" })
                </div>
                <div class="col" required="true">
                    @Html.TextBoxFor(m => m.Height, new { @class = "input-group", placeholder = "Height (cm)*" })
                    @Html.ValidationMessageFor(m => m.Height, null, new { @class = "text-danger" })
                </div>
                <div class="col" required="true">
                    @Html.TextBoxFor(m => m.Width, new { @class = "input-group", placeholder = "Width (cm)*" })
                    @Html.ValidationMessageFor(m => m.Width, null, new { @class = "text-danger" })
                </div>
                <div class="col" required="true">
                    @Html.TextBoxFor(m => m.Depth, new { @class = "input-group", placeholder = "Depth (cm)*" })
                    @Html.ValidationMessageFor(m => m.Depth, null, new { @class = "text-danger" })
                </div>
            </div>
            <input id="btnSubmit" type="submit" value="Submit" class="btn-primary" style="margin-top: 20px;" />
        }
    </div>
</body>
</html>