﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Testing api here: @ViewData["Api"]</a>.
    </p>
</div>